/* your styles go here */
.intro-position span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(255, 255, 255, 0.822);
}

.destat {
    filter: grayscale(100%);
}

.devicon-git-plain {
  max-width: .75em;
}

/* if you want to change the original color */
/* .devicon-git-plain path {
  fill: #4691f6;
} */